.formInput input{
    width:100%;
    padding: 10px;
    height: 25px;
    background-color: var(--light-gray);
    border:0;
    outline: 0;
    border-radius: 4px;
}

.parent{
    display: flex;
    flex-direction: column;
    gap:20px
}

.lightGray{
    color:rgba(41, 41, 41, 0.326);
    margin-left: 15px;
}

.infoLine{
    display: flex;
    align-items: center;
}